
WebScraipingApp/bin/x86/Debug/App.xbf
WebScraipingApp/bin/x86/Debug/AppxManifest.xml
WebScraipingApp/bin/x86/Debug/clrjit.dll
WebScraipingApp/bin/x86/Debug/clrcompression.dll
WebScraipingApp/bin/x86/Debug/Core/AppxManifest.xml
WebScraipingApp/bin/x86/Debug/Core/WebScraipingApp.exe
WebScraipingApp/bin/x86/Debug/MainPage.xbf
WebScraipingApp/bin/x86/Debug/Microsoft.CSharp.dll
WebScraipingApp/bin/x86/Debug/Microsoft.VisualBasic.dll
*.dll
*.pri
*.appxrecipe
*.exe
WebScraipingApp/bin/x86/Debug/WebScraipingApp.pdb
WebScraipingApp/bin/x86/Debug/WebScraipingApp.xr.xml
*.cs
*.xml
*.json
WebScraipingApp/obj/WebScraipingApp.csproj.nuget.g.props
WebScraipingApp/obj/WebScraipingApp.csproj.nuget.g.targets
WebScraipingApp/obj/x86/Debug/App.xaml
WebScraipingApp/obj/x86/Debug/App.xbf
WebScraipingApp/obj/x86/Debug/CoreCompileInputs.cache
WebScraipingApp/obj/x86/Debug/embed.resfiles
WebScraipingApp/obj/x86/Debug/embed.resfiles.intermediate
WebScraipingApp/obj/x86/Debug/FxResources.Microsoft.CSharp.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.Microsoft.VisualBasic.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Buffers.SR.resw
WebScraipingApp/obj/ARM/Debug/CoreCompileInputs.cache
*.cache
WebScraipingApp/obj/x86/Debug/FxResources.System.Collections.Concurrent.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Collections.Immutable.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Collections.NonGeneric.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Collections.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Collections.Specialized.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Linq.Parallel.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Data.Common.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Dynamic.Runtime.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.IO.Compression.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Globalization.Extensions.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.Diagnostics.Debug.SR.resw
WebScraipingApp/obj/x86/Debug/FxResources.System.IO.Compression.ZipFile.SR.resw
